<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指用户自定义的命名空间。 -->
<mapper namespace="com.xm.mapper.CocahMapper">

    <!-- select操作
    parameterType="int"表示该查询语句需要一个int类型的参数
    resultType="user"表示返回的是一个user对象 -->
    <select id="selectCocah"  resultType="Cocah">
        select id,name,phone,createdate,email,sex,party,birthday,remark from cocah_inf order by id 
    </select>
    
    <!-- insert操，parameterType="user"表示该插入语句需要一个user对象作为参数
    useGeneratedKeys="true"表示使用自动增长的主键 -->
    <insert id="saveCocah" parameterType="Cocah"  >
        insert into cocah_inf(id,name,phone,createdate,email,sex,party,birthday,remark) 
        values(#{id},#{name},#{phone},#{creatdate},#{email},#{sex},#{party},#{birthday},#{remark})
    </insert>

    <!-- update操作 
    parameterType="user"表示该更新语句需要一个user对象作为参数-->
    <update id="modifyCocah" parameterType="Cocah">
        update cocah_inf 
        set name = #{name}, phone = #{phone}, createdate = #{creatdate}, email = #{email}, sex = #{sex}, party = #{party}, birthday = #{birthday}, remark = #{remark}
        WHERE id = #{id}
    </update>

    <!-- delete操作 parameterType="int"表示该查询语句需要一个int类型的参数-->
    <delete id="removeCocah" parameterType="String">
        delete from cocah_inf where id = #{id}
    </delete>

</mapper>
